{% extends 'Homepage/AuthBase.html' %}
{% load static %}
{% block content %}
<header class="header-area center">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <h3 class="page-title">About</h3>
            <div class="bread sub-title"><a href="../index.html"><span class="icon"><i class="flaticon-home"></i></span>Home</a><span class="separator">|</span><span class="current">About</span></div>
         </div>
      </div>
   </div>
</header>
<div class=" page-contents">
   <div class="">
      <div class="post-1252 page type-page status-publish hentry">
         <div data-elementor-type="wp-post" data-elementor-id="1252" class="elementor elementor-1252" data-elementor-settings="[]">
            <div class="elementor-inner">
               <div class="elementor-section-wrap">
                  <section style="margin: 50px; padding:0;" class="elementor-element elementor-element-6feb10d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="6feb10d" data-element_type="section">
                     <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                           <div class="elementor-element elementor-element-9dbed92 elementor-column elementor-col-50 elementor-top-column" data-id="9dbed92" data-element_type="column">
                              <div class="elementor-column-wrap  elementor-element-populated">
                                 <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-9ef3aec elementor-widget elementor-widget-section-title-addons" data-id="9ef3aec" data-element_type="widget" data-widget_type="section-title-addons.default">
                                       <div class="elementor-widget-container">
                                          <div class="profund-section-heading">
                                             <h5 class="top-heading heading-bar-bottom">ABOUT US</h5>
                                             <h2 class="main-heading"><span>Our Mission</span></h2>
                                             <div class="sub-heading"></div>
                                             <div class="desc">
                                                <!-- <p>Uchit is a non-profitable trust pioneered by the youth to convert their aspiration: Altruism knows no boundaries, into reality. The trust aims to be a vehicle of dissemination. Uchit envisions a day when India thrives in parity and prosperity. Uchit’s initial goal was to collect dry food, clothes, blankets, books, toys, materials that these underprivileged Indians are deprived of to let them know that we see them and we care. Now we aim to expand as a bridge between the NGO community and the contributors by providing a platform where we act as the carriers of happiness, we will collect the contributions and deliver them to the designated NGOs. Our vision is to see a world where maximum opportunities and resources are being sustainably utilised and that no area, no livelihood, no happiness is lost into oblivion.</p> -->
                                                <p>On this website you can register to find out about NGOs and make contributions accordingly. We will provide a delivery facility to the contributors so that a direct delivery of their contributions can be made to the listed and chosen NGO. It’s a humble request that the contribution made should be consumable and portable, contributing any faulty items will not be appreciated. Also please contribute keeping the relevant units in mind for example, Rice & Wheat (kgs) and Oil (ltrs). </p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="elementor-element elementor-element-3c185c7 elementor-widget elementor-widget-profund_button" data-id="3c185c7" data-element_type="widget" data-widget_type="profund_button.default">
                                       <!-- <div class="elementor-widget-container">
                                          <a class="arrow-button mouse-dir" href="index.html#"><span class="button-icon"><i class="fal fa-arrow-right"></i></span><span class="button-text"><span class="button-title">Learn More</span></span><span class="dir-part"></span></a>
                                       </div> -->
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="elementor-element elementor-element-c0bd8b6 elementor-hidden-tablet elementor-hidden-phone elementor-column elementor-col-50 elementor-top-column" data-id="c0bd8b6" data-element_type="column">
                              <div class="elementor-column-wrap  elementor-element-populated">
                                 <div class="elementor-widget-wrap">
                                    <div lass="elementor-element elementor-element-21b5dda elementor-widget elementor-widget-image" data-id="21b5dda" data-element_type="widget" data-widget_type="image.default">
                                       <div style="box-shadow:none;"cclass="elementor-widget-container">
                                          <div class="elementor-image">
                                             <img width="1200" height="900" src="../wp-content/uploads/sites/4/2019/08/about-1.jpg" class="attachment-full size-full" alt="" srcset="https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/about-1.jpg 1200w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/about-1-300x225.jpg 300w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/about-1-768x576.jpg 768w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/about-1-1024x768.jpg 1024w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/about-1-450x338.jpg 450w" sizes="(max-width: 1200px) 100vw, 1200px" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="elementor-element elementor-element-394787b elementor-widget elementor-widget-image" data-id="394787b" data-element_type="widget" data-widget_type="image.default">
                                       <div style="box-shadow:none;"class="elementor-widget-container">
                                          <div class="elementor-image">
                                             <img width="1200" height="900" src="../wp-content/uploads/sites/4/2019/08/about-2.jpg" class="attachment-full size-full" alt="" srcset="https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/about-2.jpg 1200w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/about-2-300x225.jpg 300w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/about-2-768x576.jpg 768w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/about-2-1024x768.jpg 1024w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/about-2-450x338.jpg 450w" sizes="(max-width: 1200px) 100vw, 1200px" />
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
                  <section class="elementor-element elementor-element-cc0b533 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="cc0b533" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                     <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                           <div class="elementor-element elementor-element-1e49bc5 elementor-column elementor-col-100 elementor-top-column" data-id="1e49bc5" data-element_type="column">
                              <div class="elementor-column-wrap  elementor-element-populated">
                                 <div class="elementor-widget-wrap">
                                    <section class="elementor-element elementor-element-0c9902e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="0c9902e" data-element_type="section">
                                       <div class="elementor-container elementor-column-gap-no">
                                          <div class="elementor-row">
                                             <div class="elementor-element elementor-element-aaa6d79 elementor-column elementor-col-16 elementor-inner-column" data-id="aaa6d79" data-element_type="column">
                                                <div class="elementor-column-wrap">
                                                   <div class="elementor-widget-wrap"></div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-3acb593 elementor-column elementor-col-66 elementor-inner-column" data-id="3acb593" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                   <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-71ec63c elementor-widget elementor-widget-section-title-addons" data-id="71ec63c" data-element_type="widget" data-settings="{&quot;icon_color&quot;:&quot;rgba(244,244,244,0.9)&quot;}" data-widget_type="section-title-addons.default">
                                                         <div class="elementor-widget-container">
                                                            <div class="profund-section-heading">
                                                               <h5 class="top-heading heading-bar-left-right">TEAM WORK</h5>
                                                               <h2 class="main-heading"><span>Let's Meet The Team</span></h2>
                                                               <div class="icon"><i class="flaticon-heart"></i></div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-7d46346 elementor-column elementor-col-16 elementor-inner-column" data-id="7d46346" data-element_type="column">
                                                <div class="elementor-column-wrap">
                                                   <div class="elementor-widget-wrap"></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </section>
                                    <section class="elementor-element elementor-element-c7f3144 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="c7f3144" data-element_type="section">
                                       <div class="elementor-container elementor-column-gap-default">
                                          <div class="elementor-row">
                                             <div class="elementor-element elementor-element-2daace7 elementor-column elementor-col-100 elementor-inner-column" data-id="2daace7" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                   <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-06acdf8 elementor-widget elementor-widget-profund_Team" data-id="06acdf8" data-element_type="widget" data-widget_type="profund_Team.default">
                                                         <div class="elementor-widget-container">
                                                            <div class="team-member-area clearfix gird-team-members">
                                                               <div style="width: 50%;"class="profund-team-content">
                                                                  <div class="profund-team-box">
                                                                     <div class="image"><img style="max-height: 400;"width="340" max-height="400" src="/static/Samyak.jpeg" class="attachment-full size-full" alt="" sizes="(max-width: 340px) 100vw, 340px" /></div>
                                                                     <div class="details">
                                                                        <h3 class="name">Samyak Jain</h3>
                                                                        <div class="position">President</div>
                                                                        <div class="social"><a href="index.html#"><i class="fab fa-facebook-f"></i></a><a href="index.html#"><i class="fab fa-twitter"></i></a><a href="index.html#"><i class="fab fa-instagram"></i></a><a href="index.html#"><i class="fab fa-github"></i></a></div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                               <div style="width: 50%;"class="profund-team-content">
                                                                  <div class="profund-team-box">
                                                                     <div class="image"><img style="max-height: 400;"width="340" height="400" src="/static/Shivani.jpg" class="attachment-full size-full" alt=""  sizes="(max-width: 340px) 100vw, 340px" /></div>
                                                                     <div class="details">
                                                                        <h3 class="name">Shivani Jain</h3>
                                                                        <div class="position">Founder</div>
                                                                        <div class="social"><a href="index.html#"><i class="fab fa-facebook-f"></i></a><a href="index.html#"><i class="fab fa-instagram"></i></a><a href="index.html#"><i class="fab fa-linkedin-in"></i></a></div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </section>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
                  <section  style="margin: 50px; padding-top: 70px;" class="elementor-element elementor-element-bc7578f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="bc7578f" data-element_type="section">
                     <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                           <div class="elementor-element elementor-element-0e6cc43 elementor-column elementor-col-100 elementor-top-column" data-id="0e6cc43" data-element_type="column">
                              <div class="elementor-column-wrap  elementor-element-populated">
                                 <div class="elementor-widget-wrap">
                                    <section class="elementor-element elementor-element-ad4ae1b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="ad4ae1b" data-element_type="section">
                                       <div class="elementor-container elementor-column-gap-no">
                                          <div class="elementor-row">
                                             <div class="elementor-element elementor-element-98d829a elementor-column elementor-col-16 elementor-inner-column" data-id="98d829a" data-element_type="column">
                                                <div class="elementor-column-wrap">
                                                   <div class="elementor-widget-wrap"></div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-e9e7b3b elementor-column elementor-col-66 elementor-inner-column" data-id="e9e7b3b" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                   <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-33ff668 elementor-widget elementor-widget-section-title-addons" data-id="33ff668" data-element_type="widget" data-settings="{&quot;icon_color&quot;:&quot;rgba(244,244,244,0.9)&quot;}" data-widget_type="section-title-addons.default">
                                                         <div class="elementor-widget-container">
                                                            <div class="profund-section-heading">
                                                               <h5 class="top-heading heading-bar-left-right">TIME LAPS</h5>
                                                               <h2 class="main-heading"><span>Time Frame Of Our Journey </span></h2>
                                                               <div class="icon"><i class="flaticon-heart"></i></div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-ac783ee elementor-column elementor-col-16 elementor-inner-column" data-id="ac783ee" data-element_type="column">
                                                <div class="elementor-column-wrap">
                                                   <div class="elementor-widget-wrap"></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </section>
                                    <section class="elementor-element elementor-element-fd16184 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="fd16184" data-element_type="section">
                                       <div class="elementor-container elementor-column-gap-no">
                                          <div class="elementor-row">
                                             <div class="elementor-element elementor-element-834c53e elementor-column elementor-col-100 elementor-inner-column" data-id="834c53e" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                   <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-fd26b2c elementor-widget elementor-widget-profund-tab-addons" data-id="fd26b2c" data-element_type="widget" data-widget_type="profund-tab-addons.default">
                                                         <div class="elementor-widget-container">
                                                            <div class="profund-tabs profund-tab-style-1">
                                                               <ul class="profund-tab-nav profund-tab-nav-style-1" role="tablist">
                                                                  <li class="active"><a class="tab-button elementor-repeater-item-d83f7f1" href="index.html#profundtab-fd26b2c1" data-toggle="tab" role="tab">1990</a></li>
                                                                  <li class=""><a class="tab-button elementor-repeater-item-b971153" href="index.html#profundtab-fd26b2c2" data-toggle="tab" role="tab">2006</a></li>
                                                                  <li class=""><a class="tab-button elementor-repeater-item-f061812" href="index.html#profundtab-fd26b2c3" data-toggle="tab" role="tab">2010</a></li>
                                                                  <li class=""><a class="tab-button elementor-repeater-item-514cf03" href="index.html#profundtab-fd26b2c4" data-toggle="tab" role="tab">2019</a></li>
                                                               </ul>
                                                               <div class="profund-tab-content-area tab-content">
                                                                  <div class="profund-single-tab tab-pane fade active in elementor-repeater-item-d83f7f1" id="profundtab-fd26b2c1" role="tabpanel">
                                                                     <div class="profund-tab-content">
                                                                        <div data-elementor-type="section" data-elementor-id="1350" class="elementor elementor-1350" data-elementor-settings="[]">
                                                                           <div class="elementor-inner">
                                                                              <div class="elementor-section-wrap">
                                                                                 <section class="elementor-element elementor-element-ff9d90a elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="ff9d90a" data-element_type="section">
                                                                                    <div class="elementor-container elementor-column-gap-default">
                                                                                       <div class="elementor-row">
                                                                                          <div class="elementor-element elementor-element-b90bbad elementor-column elementor-col-50 elementor-top-column" data-id="b90bbad" data-element_type="column">
                                                                                             <div class="elementor-column-wrap  elementor-element-populated">
                                                                                                <div class="elementor-widget-wrap">
                                                                                                   <div class="elementor-element elementor-element-c80424f elementor-widget elementor-widget-image" data-id="c80424f" data-element_type="widget" data-widget_type="image.default">
                                                                                                      <div class="elementor-widget-container">
                                                                                                         <div class="elementor-image">
                                                                                                            <img width="1200" height="1000" src="../wp-content/uploads/sites/4/2019/08/tab-1.jpg" class="attachment-full size-full" alt="" srcset="https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-1.jpg 1200w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-1-300x250.jpg 300w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-1-768x640.jpg 768w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-1-1024x853.jpg 1024w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-1-450x375.jpg 450w" sizes="(max-width: 1200px) 100vw, 1200px" />
                                                                                                         </div>
                                                                                                      </div>
                                                                                                   </div>
                                                                                                </div>
                                                                                             </div>
                                                                                          </div>
                                                                                          <div class="elementor-element elementor-element-908587e elementor-column elementor-col-50 elementor-top-column" data-id="908587e" data-element_type="column">
                                                                                             <div class="elementor-column-wrap  elementor-element-populated">
                                                                                                <div class="elementor-widget-wrap">
                                                                                                   <div class="elementor-element elementor-element-dbf6b3c elementor-widget elementor-widget-section-title-addons" data-id="dbf6b3c" data-element_type="widget" data-widget_type="section-title-addons.default">
                                                                                                      <div class="elementor-widget-container">
                                                                                                         <div class="profund-section-heading">
                                                                                                            <h2 class="main-heading"><span>Collaborate with team members to rise</span></h2>
                                                                                                            <div class="sub-heading">Collaborate with team members to rally support</div>
                                                                                                            <div class="desc">
                                                                                                               <p>The world calls for, and expects from us, simplicity of life, the spirit of prayer, charity towards all, especially towards the lowly and the poor.When someone does something that.</p>
                                                                                                               <p>They really have a choice. Maybe what I mean to say is did they really have a chance. Harness the power of social media to spread.</p>
                                                                                                            </div>
                                                                                                         </div>
                                                                                                      </div>
                                                                                                   </div>
                                                                                                   <div class="elementor-element elementor-element-09d8168 elementor-widget elementor-widget-profund_button" data-id="09d8168" data-element_type="widget" data-widget_type="profund_button.default">
                                                                                                      <div class="elementor-widget-container">
                                                                                                         <a class="arrow-button mouse-dir" href="index.html#"><span class="button-icon"><i class="flaticon-right-arrow-1"></i></span><span class="button-text"><span class="button-title">Learn More</span></span><span class="dir-part"></span></a>
                                                                                                      </div>
                                                                                                   </div>
                                                                                                </div>
                                                                                             </div>
                                                                                          </div>
                                                                                       </div>
                                                                                    </div>
                                                                                 </section>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                                  <div class="profund-single-tab tab-pane fade  elementor-repeater-item-b971153" id="profundtab-fd26b2c2" role="tabpanel">
                                                                     <div class="profund-tab-content">
                                                                        <div data-elementor-type="section" data-elementor-id="1353" class="elementor elementor-1353" data-elementor-settings="[]">
                                                                           <div class="elementor-inner">
                                                                              <div class="elementor-section-wrap">
                                                                                 <section class="elementor-element elementor-element-ff9d90a elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="ff9d90a" data-element_type="section">
                                                                                    <div class="elementor-container elementor-column-gap-default">
                                                                                       <div class="elementor-row">
                                                                                          <div class="elementor-element elementor-element-b90bbad elementor-column elementor-col-50 elementor-top-column" data-id="b90bbad" data-element_type="column">
                                                                                             <div class="elementor-column-wrap  elementor-element-populated">
                                                                                                <div class="elementor-widget-wrap">
                                                                                                   <div class="elementor-element elementor-element-c80424f elementor-widget elementor-widget-image" data-id="c80424f" data-element_type="widget" data-widget_type="image.default">
                                                                                                      <div class="elementor-widget-container">
                                                                                                         <div class="elementor-image">
                                                                                                            <img width="1200" height="1000" src="../wp-content/uploads/sites/4/2019/08/tab-4.jpg" class="attachment-full size-full" alt="" srcset="https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-4.jpg 1200w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-4-300x250.jpg 300w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-4-768x640.jpg 768w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-4-1024x853.jpg 1024w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-4-450x375.jpg 450w" sizes="(max-width: 1200px) 100vw, 1200px" />
                                                                                                         </div>
                                                                                                      </div>
                                                                                                   </div>
                                                                                                </div>
                                                                                             </div>
                                                                                          </div>
                                                                                          <div class="elementor-element elementor-element-908587e elementor-column elementor-col-50 elementor-top-column" data-id="908587e" data-element_type="column">
                                                                                             <div class="elementor-column-wrap  elementor-element-populated">
                                                                                                <div class="elementor-widget-wrap">
                                                                                                   <div class="elementor-element elementor-element-dbf6b3c elementor-widget elementor-widget-section-title-addons" data-id="dbf6b3c" data-element_type="widget" data-widget_type="section-title-addons.default">
                                                                                                      <div class="elementor-widget-container">
                                                                                                         <div class="profund-section-heading">
                                                                                                            <h2 class="main-heading"><span>Collaborate with team members to rise</span></h2>
                                                                                                            <div class="sub-heading">Collaborate with team members to rally support</div>
                                                                                                            <div class="desc">
                                                                                                               <p>The world calls for, and expects from us, simplicity of life, the spirit of prayer, charity towards all, especially towards the lowly and the poor.When someone does something that.</p>
                                                                                                               <p>They really have a choice. Maybe what I mean to say is did they really have a chance. Harness the power of social media to spread.</p>
                                                                                                            </div>
                                                                                                         </div>
                                                                                                      </div>
                                                                                                   </div>
                                                                                                   <div class="elementor-element elementor-element-09d8168 elementor-widget elementor-widget-profund_button" data-id="09d8168" data-element_type="widget" data-widget_type="profund_button.default">
                                                                                                      <div class="elementor-widget-container">
                                                                                                         <a class="arrow-button mouse-dir" href="index.html#"><span class="button-icon"><i class="flaticon-right-arrow-1"></i></span><span class="button-text"><span class="button-title">Learn More</span></span><span class="dir-part"></span></a>
                                                                                                      </div>
                                                                                                   </div>
                                                                                                </div>
                                                                                             </div>
                                                                                          </div>
                                                                                       </div>
                                                                                    </div>
                                                                                 </section>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                                  <div class="profund-single-tab tab-pane fade  elementor-repeater-item-f061812" id="profundtab-fd26b2c3" role="tabpanel">
                                                                     <div class="profund-tab-content">
                                                                        <div data-elementor-type="section" data-elementor-id="1356" class="elementor elementor-1356" data-elementor-settings="[]">
                                                                           <div class="elementor-inner">
                                                                              <div class="elementor-section-wrap">
                                                                                 <section class="elementor-element elementor-element-ff9d90a elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="ff9d90a" data-element_type="section">
                                                                                    <div class="elementor-container elementor-column-gap-default">
                                                                                       <div class="elementor-row">
                                                                                          <div class="elementor-element elementor-element-b90bbad elementor-column elementor-col-50 elementor-top-column" data-id="b90bbad" data-element_type="column">
                                                                                             <div class="elementor-column-wrap  elementor-element-populated">
                                                                                                <div class="elementor-widget-wrap">
                                                                                                   <div class="elementor-element elementor-element-c80424f elementor-widget elementor-widget-image" data-id="c80424f" data-element_type="widget" data-widget_type="image.default">
                                                                                                      <div class="elementor-widget-container">
                                                                                                         <div class="elementor-image">
                                                                                                            <img width="1200" height="1000" src="../wp-content/uploads/sites/4/2019/08/tab-3.jpg" class="attachment-full size-full" alt="" srcset="https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-3.jpg 1200w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-3-300x250.jpg 300w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-3-768x640.jpg 768w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-3-1024x853.jpg 1024w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-3-450x375.jpg 450w" sizes="(max-width: 1200px) 100vw, 1200px" />
                                                                                                         </div>
                                                                                                      </div>
                                                                                                   </div>
                                                                                                </div>
                                                                                             </div>
                                                                                          </div>
                                                                                          <div class="elementor-element elementor-element-908587e elementor-column elementor-col-50 elementor-top-column" data-id="908587e" data-element_type="column">
                                                                                             <div class="elementor-column-wrap  elementor-element-populated">
                                                                                                <div class="elementor-widget-wrap">
                                                                                                   <div class="elementor-element elementor-element-dbf6b3c elementor-widget elementor-widget-section-title-addons" data-id="dbf6b3c" data-element_type="widget" data-widget_type="section-title-addons.default">
                                                                                                      <div class="elementor-widget-container">
                                                                                                         <div class="profund-section-heading">
                                                                                                            <h2 class="main-heading"><span>Collaborate with team members to rise</span></h2>
                                                                                                            <div class="sub-heading">Collaborate with team members to rally support</div>
                                                                                                            <div class="desc">
                                                                                                               <p>The world calls for, and expects from us, simplicity of life, the spirit of prayer, charity towards all, especially towards the lowly and the poor.When someone does something that.</p>
                                                                                                               <p>They really have a choice. Maybe what I mean to say is did they really have a chance. Harness the power of social media to spread.</p>
                                                                                                            </div>
                                                                                                         </div>
                                                                                                      </div>
                                                                                                   </div>
                                                                                                   <div class="elementor-element elementor-element-09d8168 elementor-widget elementor-widget-profund_button" data-id="09d8168" data-element_type="widget" data-widget_type="profund_button.default">
                                                                                                      <div class="elementor-widget-container">
                                                                                                         <a class="arrow-button mouse-dir" href="index.html#"><span class="button-icon"><i class="flaticon-right-arrow-1"></i></span><span class="button-text"><span class="button-title">Learn More</span></span><span class="dir-part"></span></a>
                                                                                                      </div>
                                                                                                   </div>
                                                                                                </div>
                                                                                             </div>
                                                                                          </div>
                                                                                       </div>
                                                                                    </div>
                                                                                 </section>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                                  <div class="profund-single-tab tab-pane fade  elementor-repeater-item-514cf03" id="profundtab-fd26b2c4" role="tabpanel">
                                                                     <div class="profund-tab-content">
                                                                        <div data-elementor-type="section" data-elementor-id="1359" class="elementor elementor-1359" data-elementor-settings="[]">
                                                                           <div class="elementor-inner">
                                                                              <div class="elementor-section-wrap">
                                                                                 <section class="elementor-element elementor-element-ff9d90a elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="ff9d90a" data-element_type="section">
                                                                                    <div class="elementor-container elementor-column-gap-default">
                                                                                       <div class="elementor-row">
                                                                                          <div class="elementor-element elementor-element-b90bbad elementor-column elementor-col-50 elementor-top-column" data-id="b90bbad" data-element_type="column">
                                                                                             <div class="elementor-column-wrap  elementor-element-populated">
                                                                                                <div class="elementor-widget-wrap">
                                                                                                   <div class="elementor-element elementor-element-c80424f elementor-widget elementor-widget-image" data-id="c80424f" data-element_type="widget" data-widget_type="image.default">
                                                                                                      <div class="elementor-widget-container">
                                                                                                         <div class="elementor-image">
                                                                                                            <img width="1200" height="1000" src="../wp-content/uploads/sites/4/2019/08/tab-2.jpg" class="attachment-full size-full" alt="" srcset="https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-2.jpg 1200w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-2-300x250.jpg 300w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-2-768x640.jpg 768w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-2-1024x853.jpg 1024w, https://spaceraceit.com/wp/profund/home-3/wp-content/uploads/sites/4/2019/08/tab-2-450x375.jpg 450w" sizes="(max-width: 1200px) 100vw, 1200px" />
                                                                                                         </div>
                                                                                                      </div>
                                                                                                   </div>
                                                                                                </div>
                                                                                             </div>
                                                                                          </div>
                                                                                          <div class="elementor-element elementor-element-908587e elementor-column elementor-col-50 elementor-top-column" data-id="908587e" data-element_type="column">
                                                                                             <div class="elementor-column-wrap  elementor-element-populated">
                                                                                                <div class="elementor-widget-wrap">
                                                                                                   <div class="elementor-element elementor-element-dbf6b3c elementor-widget elementor-widget-section-title-addons" data-id="dbf6b3c" data-element_type="widget" data-widget_type="section-title-addons.default">
                                                                                                      <div class="elementor-widget-container">
                                                                                                         <div class="profund-section-heading">
                                                                                                            <h2 class="main-heading"><span>Collaborate with team members to rise</span></h2>
                                                                                                            <div class="sub-heading">Collaborate with team members to rally support</div>
                                                                                                            <div class="desc">
                                                                                                               <p>The world calls for, and expects from us, simplicity of life, the spirit of prayer, charity towards all, especially towards the lowly and the poor.When someone does something that.</p>
                                                                                                               <p>They really have a choice. Maybe what I mean to say is did they really have a chance. Harness the power of social media to spread.</p>
                                                                                                            </div>
                                                                                                         </div>
                                                                                                      </div>
                                                                                                   </div>
                                                                                                   <div class="elementor-element elementor-element-09d8168 elementor-widget elementor-widget-profund_button" data-id="09d8168" data-element_type="widget" data-widget_type="profund_button.default">
                                                                                                      <div class="elementor-widget-container">
                                                                                                         <a class="arrow-button mouse-dir" href="index.html#"><span class="button-icon"><i class="flaticon-right-arrow-1"></i></span><span class="button-text"><span class="button-title">Learn More</span></span><span class="dir-part"></span></a>
                                                                                                      </div>
                                                                                                   </div>
                                                                                                </div>
                                                                                             </div>
                                                                                          </div>
                                                                                       </div>
                                                                                    </div>
                                                                                 </section>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </section>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
