{% extends 'Account/AccountBase.html' %}

{% block content %}

<header class="header-area center">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <h3 class="page-title">Contact</h3>
            <div class="bread sub-title"><a href="../index.html"><span class="icon"><i class="flaticon-home"></i></span>Home</a><span class="separator">|</span><span class="current">Contact</span></div>
         </div>
      </div>
   </div>
</header>
<div class=" page-contents">
   <div class="">
      <div class="post-1135 page type-page status-publish hentry">
         <div data-elementor-type="wp-post" data-elementor-id="1135" class="elementor elementor-1135" data-elementor-settings="[]">
            <div class="elementor-inner">
               <div class="elementor-section-wrap">
                  <section class="elementor-element elementor-element-69587155 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="69587155" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                     <div class="elementor-container elementor-column-gap-extended">
                        <div class="elementor-row">
                           <div class="elementor-element elementor-element-67e5883e elementor-column elementor-col-100 elementor-top-column" data-id="67e5883e" data-element_type="column">
                              <div class="elementor-column-wrap  elementor-element-populated">
                                 <div class="elementor-widget-wrap">
                                    <section class="elementor-element elementor-element-3e8236fe elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="3e8236fe" data-element_type="section">
                                       <div class="elementor-container elementor-column-gap-extended">
                                          <div class="elementor-row">
                                             <div class="elementor-element elementor-element-369dc382 elementor-column elementor-col-25 elementor-inner-column" data-id="369dc382" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                   <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-7e2e73ed elementor-widget elementor-widget-feature-box" data-id="7e2e73ed" data-element_type="widget" data-widget_type="feature-box.default">
                                                         <div class="elementor-widget-container">
                                                            <div class="feature-box">
                                                               <div class="feature-icon"><i class="flaticon-map"></i></div>
                                                               <div class="box-content">
                                                                  <h4 class="feature-title">Address Line</h4>
                                                                  <div class="feature-content">
                                                                     <p>405 city pulse,<br />
                                                                        narayan singh circle , Jaipur.
                                                                     </p>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-63f9883c elementor-column elementor-col-25 elementor-inner-column" data-id="63f9883c" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                   <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-460b7de6 elementor-widget elementor-widget-feature-box" data-id="460b7de6" data-element_type="widget" data-widget_type="feature-box.default">
                                                         <div class="elementor-widget-container">
                                                            <div class="feature-box">
                                                               <div class="feature-icon"><i class="flaticon-mail"></i></div>
                                                               <div class="box-content">
                                                                  <h4 class="feature-title">Email Address</h4>
                                                                  <div class="feature-content">
                                                                     <p><a href="../../../../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="5c39313d35301c39243d312c3039723f3331">uchitngo@gmail.com</a><br />
                                                                     </p>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-e304b3 elementor-column elementor-col-25 elementor-inner-column" data-id="e304b3" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                   <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-6ca726dd elementor-widget elementor-widget-feature-box" data-id="6ca726dd" data-element_type="widget" data-widget_type="feature-box.default">
                                                         <div class="elementor-widget-container">
                                                            <div class="feature-box">
                                                               <div class="feature-icon"><i class="flaticon-phone-call-1"></i></div>
                                                               <div class="box-content">
                                                                  <h4 class="feature-title">Phone Number</h4>
                                                                  <div class="feature-content">
                                                                     <p>+(91) 9549348098<br />
                                                                        +(91) 9672093034
                                                                     </p>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="elementor-element elementor-element-4e9196d6 elementor-column elementor-col-25 elementor-inner-column" data-id="4e9196d6" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                   <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-141343a3 elementor-widget elementor-widget-feature-box" data-id="141343a3" data-element_type="widget" data-widget_type="feature-box.default">
                                                         <div class="elementor-widget-container">
                                                            <div class="feature-box">
                                                               <div class="feature-icon"><i class="flaticon-support-1"></i></div>
                                                               <div class="box-content">
                                                                  <h4 class="feature-title">Support</h4>
                                                                  <div class="feature-content">
                                                                     <p>Drop your queries. You'll recieve a reply in 2-3 business days.</p>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </section>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
                  <!-- <section class="elementor-element elementor-element-be7a5f5 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="be7a5f5" data-element_type="section">
                     <div class="elementor-container elementor-column-gap-default">
                     <div class="elementor-row">
                     <div class="elementor-element elementor-element-1d08057 elementor-column elementor-col-100 elementor-top-column" data-id="1d08057" data-element_type="column">
                     <div class="elementor-column-wrap  elementor-element-populated">
                     <div class="elementor-widget-wrap">
                     <section class="elementor-element elementor-element-699bbd9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="699bbd9" data-element_type="section">
                     <div class="elementor-container elementor-column-gap-no">
                     <div class="elementor-row">
                     <div class="elementor-element elementor-element-ebf4cf3 elementor-column elementor-col-16 elementor-inner-column" data-id="ebf4cf3" data-element_type="column">
                     <div class="elementor-column-wrap">
                     <div class="elementor-widget-wrap">
                     </div>
                     </div>
                     </div>
                     <div class="elementor-element elementor-element-ac8af85 elementor-column elementor-col-66 elementor-inner-column" data-id="ac8af85" data-element_type="column">
                     <div class="elementor-column-wrap  elementor-element-populated">
                     <div class="elementor-widget-wrap">
                     <div class="elementor-element elementor-element-6109304 elementor-invisible elementor-widget elementor-widget-section-title-addons" data-id="6109304" data-element_type="widget" data-settings="{&quot;icon_color&quot;:&quot;rgba(244,244,244,0.9)&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="section-title-addons.default">
                     <div class="elementor-widget-container">
                     <div class="profund-section-heading"><h5 class="top-heading heading-bar-none">Support Forum</h5><h2 class="main-heading">Contact With Us</h2><div class="icon"><i class="flaticon-heart"></i></div></div> </div>
                     </div>
                     </div>
                     </div>
                     </div>
                     <div class="elementor-element elementor-element-1b3355a elementor-column elementor-col-16 elementor-inner-column" data-id="1b3355a" data-element_type="column">
                     <div class="elementor-column-wrap">
                     <div class="elementor-widget-wrap">
                     </div>
                     </div>
                     </div>
                     </div>
                     </div>
                     </section>
                     <section class="elementor-element elementor-element-ff30530 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="ff30530" data-element_type="section">
                     <div class="elementor-container elementor-column-gap-default">
                     <div class="elementor-row">
                     <div class="elementor-element elementor-element-f281e82 elementor-column elementor-col-100 elementor-inner-column" data-id="f281e82" data-element_type="column">
                     <div class="elementor-column-wrap  elementor-element-populated">
                     <div class="elementor-widget-wrap">
                     <div class="elementor-element elementor-element-a11e675 elementor-widget elementor-widget-profund_Subscribe_Form" data-id="a11e675" data-element_type="widget" data-widget_type="profund_Subscribe_Form.default">
                     <div class="elementor-widget-container">
                     <div class="shortcode-form">
                     <div role="form" class="wpcf7" id="wpcf7-f1407-p1135-o1" lang="en-US" dir="ltr">
                     <div class="screen-reader-response"></div>
                     <form action="/wp/profund/home-3/contact/#wpcf7-f1407-p1135-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                     <div style="display: none;">
                     <input type="hidden" name="_wpcf7" value="1407" />
                     <input type="hidden" name="_wpcf7_version" value="5.1.6" />
                     <input type="hidden" name="_wpcf7_locale" value="en_US" />
                     <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1407-p1135-o1" />
                     <input type="hidden" name="_wpcf7_container_post" value="1135" />
                     </div>
                     <div class="contact-form">
                     <div class="row">
                     <div class="form-group col-sm-12 col-md-6">
                     <label class="label-control mb-10" for="name">Your Name*</label><br />
                     <span class="wpcf7-form-control-wrap user-name"><input type="text" name="user-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control-item" id="name" aria-required="true" aria-invalid="false" placeholder="i.e. John Doe" /></span>
                     </div>
                     <div class="form-group col-sm-12 col-md-6">
                     <label class="label-control mb-10" for="phone">Your Phone Number</label><br />
                     <span class="wpcf7-form-control-wrap phone-number"><input type="text" name="phone-number" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control-item" id="phone" aria-required="true" aria-invalid="false" placeholder="+(123)123 456" /></span>
                     </div>
                     </div>
                     <div class="row">
                     <div class="form-group col-sm-12 col-md-6">
                     <label class="label-control mb-10" for="email">Email address*</label><br />
                     <span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control-item" id="email" aria-required="true" aria-invalid="false" placeholder="i.e. example@example.com" /></span>
                     </div>
                     <div class="form-group col-sm-12 col-md-6">
                     <label class="label-control mb-10" for="subject">Subject*</label><br />
                     <span class="wpcf7-form-control-wrap subject"><input type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text form-control-item" id="subject" aria-invalid="false" placeholder="i.e. Webdesign" /></span>
                     </div>
                     </div>
                     <div class="row">
                     <div class="form-group col-sm-12">
                     <label class="label-control mb-10" for="message">Your Message</label><br />
                     <span class="wpcf7-form-control-wrap messages"><textarea name="messages" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control-item" id="message" aria-required="true" aria-invalid="false" placeholder="i.e. The design is...."></textarea></span>
                     </div>
                     </div>
                     <div class="form-row">
                     <div class="form-group col-sm-12 text-center">
                     <button type="submit" class="submit-form mouse-dir"><span class="btn__text">Submit</span><span class="dir-part"></span> <i class="fa fa-paper-plane"></i></button>
                     </div>
                     </div>
                     </div>
                     <div class="wpcf7-response-output wpcf7-display-none"></div></form></div> </div>
                     </div>
                     </div>
                     </div>
                     </div>
                     </div>
                     </div>
                     </div>
                     </section>
                     </div>
                     </div>
                     </div>
                     </div>
                     </div>
                     </section> -->
                  <!-- <section class="elementor-element elementor-element-6067d0c3 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="6067d0c3" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                     <div class="elementor-container elementor-column-gap-default">
                     <div class="elementor-row">
                     <div class="elementor-element elementor-element-1b9e043 elementor-column elementor-col-100 elementor-top-column" data-id="1b9e043" data-element_type="column">
                     <div class="elementor-column-wrap  elementor-element-populated">
                     <div class="elementor-widget-wrap">
                     <div class="elementor-element elementor-element-2ca30f2d elementor-widget elementor-widget-google_maps" data-id="2ca30f2d" data-element_type="widget" data-widget_type="google_maps.default">
                     <div class="elementor-widget-container">
                     <div class="elementor-custom-embed"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=London%20Eye,%20London,%20United%20Kingdom&t=m&z=10&output=embed&iwloc=near" aria-label="London Eye, London, United Kingdom"></iframe></div> </div>
                     </div>
                     </div>
                     </div>
                     </div>
                     </div>
                     </div>
                     </section> -->
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}
