{% extends 'Account/AccountBase.html' %}

{% block content %}

<header class="header-area center">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            {% if error %}
            <h3 class="page-title">{{ error }}</h3>
            {% else %}
            <h3 class="page-title">Thankyou for your contribution!</h3>
            {% endif %}
            <div class="bread sub-title"><a href="{% url 'Homepage' %}"><span class="icon"><i class="flaticon-home"></i></span>Home</a></div>
         </div>
      </div>
   </div>
</header>

{% endblock %}
